<!DOCTYPE HTML>
<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>
<body>
    <h1>Form Tests</h1>
    <div>
        <strong>Create New User</strong>
        <form method="POST" action="/users">
            <input type="text" name="email" placeholder="Email"/>
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" />
        </form>
    </div>
    <div>
        <strong>Login</strong>
        <form id="login" method="POST" action="/users/login">
            <input type="text" name="email" placeholder="Email"/>
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" />
        </form>
    </div>
    <div>
        <strong>Image Upload</strong>
        <form method="POST" action="/images" enctype="multipart/form-data">
            <input type="file" name="image" />
            <input type="text" name="header" />
            <input type="submit" />
        </form>
    </div>
    <h1>Information</h1>
    <div><a href="/users">Get users</a></div>
</body>
</html>
